

body {

/* background-color: #76a9e0; */
background-image:url(/image/bg-books.jpg) !important; 
background-color: #017199;
/* Full height */
height: 100%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
}

 
.title{
  font-family: 'Righteous', sans-serif;
    font-size: 50px;
    text-align: center;
    color:#e91e63;
    margin-top: 40px;
}
.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Righteous', sans-serif;
  font-size: 30px;
  color:#f44336;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Righteous', sans-serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
